li {
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
}

#searchbar {
    display: inline-block;
    margin-right: 10px;
    color: #778899;
}

#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    font-size: 13px;
    background-color: red;
}

#header {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #515369;
    background-color: white;
}

#body {
    margin: 0;
    font-size: 14px;
    color: #6c7279;
}

.header__logo {
    display: inline-block;
    margin-right: 10px;
    color: #778899;
    margin-left: 50px;
    margin-right: 50px;
}

img {
    height: 50px;
    width: 150px;
}

#a {
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
    text-decoration: none;
    transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
}

#a:hover {
    color: black;
    transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
}

button {
    display: inline-block;
    margin-right: 10px;
    background-color: red;
    border: none;
    color: #ffffff;
    transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
}

button:hover {
    color: black;
    transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
}

#qw {
    display: inline-block;
    margin-right: 10px;
    background-color: orange;
    border: none;
    color: #ffffff;
    transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
    height: 50px;
    width: 150px;
    border-radius: 10px;
}

#qw:hover {
    background-color: rgb(182, 119, 3);
    color: black;
    transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: red;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
}

.dropdown.active>.nav__link+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.login-form>input {
    margin-bottom: .5rem;
    display: flex;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

li:hover {
    color: aqua;
    transition: opacity 350ms ease-in-out, transform 350ms ease-in-out;
}

.postuplenie {
    margin: 0 auto;
    font-size: 45px;
    font-weight: 700;
    display: flex;
    text-align: center;
    flex-direction: column;
    text-transform: uppercase;
    color: #3c3c3c;
    margin: 0 0 30px 0;
    padding-top: 60px;
    background-color: orange;
    border-bottom: 1px solid #3c3c3c;
    padding: 35px 0;
}

.searchbar {
    margin-left: 10px;
    margin-top: 15px;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 15px;
    transition: all .1s;
    transition-delay: .1s;
    background-color: #cac6c6;
}

.footer {
    text-align: center;
    padding: 3px;
    background-color: red;
    color: rgb(255, 255, 255);
}

.product {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c0c0c0;
    height: 390px;
    overflow: hidden;
    padding: 25px 15px;
    position: relative;
    text-align: center;
    transition: all 0.5s ease 0s;
    margin-bottom: 20px;
}

.product:hover {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.product-img {
    position: absolute;
    margin-right: 650px;
    height: 200px;
}

.product-title a {
    display: flex;
    color: blueviolet;
    font-weight: 350px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-desc {
    display: flex;
    max-height: 60px;
    overflow: hidden;
}

.product-price {
    bottom: 15px;
    left: 0;
    width: 100%;
    color: #d51e08;
    font-size: 18px;
    font-weight: 500;
}

.menu {
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}


/* The navigation menu links */

.menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}


/* When you mouse over the navigation links, change their color */

.menu a:hover {
    color: #ffffff;
}

#pro {
    display: flex;
    width: 500px;
    height: 500px;
}

.aontainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.tivar {
    /*background-image: url(amd\content\img\234.jpg);*/
    background-color: #d51e08;
    padding: 200px 0;
}

.tivar__inner {
    display: flex;
    flex-wrap: wrap;
}

.tivar__photo {
    width: 50%;
}

.tivar__content {
    width: 50%;
}

.tivar__text {
    text-transform: uppercase;
    color: #e8ecee;
}

.www {
    display: flex;
    text-transform: uppercase;
    color: orange;
    font-size: 28px;
    margin-bottom: 25px;
}

.wwws {
    display: flex;
    text-transform: uppercase;
    color: rgb(201, 201, 201);
    font-size: 28px;
    margin-bottom: 25px;
}

.qqq {
    display: flex;
    text-transform: uppercase;
    color: #e8ecee;
    font-size: 33px;
    margin-bottom: 25px;
    text-align: center;
}

.eee {
    display: flex;
    text-transform: uppercase;
    color: orange;
    font-size: 33px;
    margin-bottom: 25px;
}